@model Laba2FilmsBD.Models.ActorsInFilm

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалити</h1>

<h3>Ви впевнені, що хочете видалити цей запис?</h3>
<div>
    <h4>Роль актора у фільмі</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Сharacter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Сharacter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actor.FirstName) <text> </text>
            @Html.DisplayFor(model => model.Actor.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Film)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Film.Title)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ActorId" />
        <input type="hidden" asp-for="FilmId" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
