@model Laba2FilmsBD.Models.Purchase

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалити</h1>

<h3>Ви впевнені, що хочете видалити цей запис?</h3>
<div>
    <h4>Покупка</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.FirstName) <text> </text>
            @Html.DisplayFor(model => model.Customer.LastName)
            <br>
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Film)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Film.Title)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FilmId" />
        <input type="hidden" asp-for="CustomerId" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
